* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif, "times new roman";
  font-size: 17px;
  color: #ffffff;
  line-height: 1.6;
}

#showcase {
  background-image: url(images/bg5.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-repeat: none;
  position: fixed;
  display: grid;
}

.container {
  width: 90%;
  height: 110px;
  margin: 0 auto;
  /* border: red 2px solid; */
  
}

.logo {
  float: left;
  margin-top: 30px;
  width: 5%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

nav li {
  display: inline-block;
  margin-left: 50px;
  margin-top: 40px;
}

nav li a {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  border: #55acf3 3px solid;
  color: white;
  padding: 10px;
  width: 100px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

span:hover {
  background-color: #55acf3;
  font: green;
  opacity: 0.4;
}

.main-wrapper{

}

.main{
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.landing-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20%;

}

hr{
  transform: rotate(45%);
  border: #ffffff 2px solid;
  height: 500px;
  transform: rotate(12deg);
  width: 0.1px;
  margin-left: 15%;
  margin-right: 15%;
}

.landing-right {
  display: flex;
  align-items: center;
}

.countdown-wrapper{
  display: grid;
  padding: 20px;
  /* border-radius: 10px; */
  /* background: #000; */
  opacity: 0.7;
  margin: 5px;
}

.countdown-wrapper div {
  padding: 20px;
  /* border-bottom: 3px #4c86f1 solid; */
  /* border-radius: 10px; */
  /* background: #000; */
  /* opacity: 0.7; */
  margin: 5px;
}

.countdown-wrapper span {
  display: block;
  font-size: 25px;
  color: #ffffff;
}

.bottom-grid{
  display: grid;
  grid-template-columns: repeat(3, auto);
  
}

.days{
  font-size: 120px;
  display: grid;
  justify-content: end;
  border-bottom: #55acf3 4px solid;
}

.hours{
  border-bottom: #55acf3 4px solid;
}

.mins{
  border-bottom: #55acf3 4px solid;
}

.seconds{
  border-bottom: #55acf3 4px solid;
}

.landing-right{
  border: red 4px solid;
}

.heading{
  font-size: 90px;
  color: #55acf3;
}

.sub-heading{
  font-size: 30px;
}

.preview{
  font-size: 20px;
}

