*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    font-family: "Quicksand", sans-serif, 'times new roman';
    font-size: 17px;
    color: #ffffff;
    line-height: 1.6;
}

#showcase{
    background-image: url(images/bg5.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    filter: grayscale(100%);
    background-repeat: none;
    display: grid;
    position: fixed;
}

